* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html { 
    background-color:rgb(110, 91, 91);
}

h1, h2, h3 {
    color: #ffffff;
    
}
p {
    color: #020202;
}

header {
    width: 100%;
    min-height: 100vh;

    background-image: url("images/restaurant.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
#home{
    position: relative;
}
#home h1{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    font-size: 50px;
}
nav{
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 20px;
    top: 5%;
    font-size: 50px;
}
nav a{
    color: white;
}
h1, h2, h3, nav a{
    font-family: Playfair Display, serif;
}