* {
    box-sizing: border-box;
}

html, body { 
    margin: 0;
    padding: 0;
    background-color:rgb(110, 91, 91);
    font-family: "Playfair Display", Georgia, serif;
    /* display: flex; 
    justify-content: center;
    align-items: center; */

}

header {
    width: 100%;
    min-height: 100vh;

    background-image: url("images/restaurant.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

h1, h2, h3 {
    color: #ffffff;
    font-family: "Playfair Display", Georgia, serif;
    margin-bottom: 12px;
    
}

p {
    color: lch(89.44% 89.19 94.47);
    font-family: Georgia serif;
    font-size: 23px;
    line-height: 1.6;
}

#about p, #contact p {
    text-decoration: underline;
}

section, img {
align-items: center;
text-align: center;
justify-self: center;
padding: auto;
flex-direction: column;
}

img{ 
    border-radius: 5rem;
}

nav{
    display: flex;
    flex-direction: column;
     gap: 10px;
    position: absolute;
    left: 20px;
    top: 5%;
    font-size: 20px;
}

nav a{
    color: white;
}

#home{
    position: relative;
}
#home h1{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    font-size: 50px;
}



/* #about, img {
align-items: center;
text-align: center;
justify-self: center;
padding: auto;
flex-direction: column;
} */

/* #contact {
align-items: center;
text-align: center;
justify-self: center;
padding: auto;
flex-direction: column;
}*/

/* #reservation {
align-items: center;
text-align: center;
justify-self: center;
padding: auto;
flex-direction: column;
} */


section#about > p {
font-size: 23px;
    line-height: 1.7;
}

#reservation label {
color: #FFF3D6
}